<div class="principal">
  <app-jogo-forca [tentativas]="totalTentativas"></app-jogo-forca>
  <app-jogo-palavra [listaLetrasTentadas]="listaDinamica" [categoriaAtual]="categoria"></app-jogo-palavra>
  <ng-container *ngIf="(totalTentativas !== 0 && listaDinamicaTemValorVazio) else btnRecomecar">
    <app-jogo-teclado (teclaPressionada)="preencheLetraAtual($event)"></app-jogo-teclado>
  </ng-container>
  <ng-template #btnRecomecar>
    <ng-component *ngIf="(totalTentativas === 0) else mensagemVenceu">
      <p>Você não conseguiu acerta a palavra, tente novamente</p>
    </ng-component>
    <ng-template #mensagemVenceu>
      <p>Parabens você acertou a palavra !!!</p>
    </ng-template>
    <button class="botao" (click)="recomecar()">Recomeçar</button>
  </ng-template>
</div>
