.teclas button {
  width: 3em;
  height: 3em;
  margin: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 2px gray;
  border-radius: 5px;
  border: 1px solid #e75b7d;
  color: #e75b7d;
  font-weight: 900;
}
