<div class="teclado">
  <div class="teclas">
    <button>A</button>
    <button>B</button>
    <button>C</button>
    <button>D</button>
    <button>E</button>
    <button>F</button>
    <button>G</button>
    <button>H</button>
    <button>I</button>
  </div>
  <div class="teclas">
    <button>J</button>
    <button>K</button>
    <button>L</button>
    <button>M</button>
    <button>N</button>
    <button>O</button>
    <button>P</button>
    <button>Q</button>
    <button>R</button>
  </div>
  <div class="teclas">
    <button>S</button>
    <button>T</button>
    <button>U</button>
    <button>V</button>
    <button>X</button>
    <button>W</button>
    <button>Y</button>
    <button>Z</button>
    <button>↻</button>
  </div>
</div>
