.palavra {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.palavra .letra {
  text-align: center;
  margin-right: 4px;
  margin-left: 4px;
  min-width: 20px;
  min-height: 20px;
  border-bottom: 3px solid var(---secundary-color);
}
