:root {
  ---first-color: #42774e;
  ---secundary-color: #83bb6e;
}

.botao {
  border-radius: 5px;
  border: 2px solid var(---first-color);
  color: var(---first-color);
  background-color: white;
  font-weight: bold;
  padding: 1%;
}
